.wd-modules,
.wd-modules * {
  border-radius: 0% !important;
  border: none;
  margin: 0px;
  padding: 0px;
}

.wd-modules {
  margin: 5px;
}

.wd-modules>li {
  background-color: lightgray;
  border: 1px solid gray !important;
  border-left: none !important;
}

.wd-modules>li>div {
  padding: 6px;
  border-left: 1px solid gray !important;
}

.wd-modules>li>ul>li {
  padding: 5px;
  border-top: 1px solid gray !important;
  border-left: 2px solid green;
}

.wd-modules>li {
  margin-bottom: 20px;
}

.list-group-item {
  margin-bottom: 0px;
  padding: 0;
}

.list-group {
  margin-bottom: 0px;
}

.wd-lgi {
  padding: 0 !important;
}

.wd-lg {
  padding: 0 !important;
}

.wd-home-page{
  width: 60%; padding-left: 5% !important;
}

.wd-home-sub{
  display: flex;
  justify-content: end;
  margin-bottom: 10px;
  margin-right: 5px;
}

.wd-course-status{
  color: #2d3b45; font-weight: 500;
}

.wd-module-body-2 {
  width: 65vw;
}