.wd-row {
    padding-bottom: 5px;
}
.wd-row div h6 {
    text-align: right;
}
.wd-button {
    text-align: center;
    text-decoration: none;
}

.wd-editor-body{
    width: 65vw;
}

.form-check-label{
    margin-left: 5px;
}